
$lively-green-50: #98CE00;
$lively-green-40: #ACD831;
$lively-green-30: #BEE05E;
$lively-green-20: #D2EE84;
$lively-green-10: #E7F5BD;
$lively-green-1: #F9FEEC;
$friendly-blue-50: #6CCFF6;
$friendly-blue-40: #85D2F0;
$friendly-blue-30: #9BD7EF;
$friendly-blue-20: #B0E1F5;
$friendly-blue-10: #CCEDFA;
$friendly-blue-1: #EDF8FC;
$focused-gray-50: #B2B5C4;

$shadow: 0 2px 6px rgba(0,0,0,0.1);

$header-height: 50px;

$card-border-radius: 10px;
