// Fonts
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url("../images/Pattern.png");
    background-size: 20%;
}

.header {
    background: $friendly-blue-50;
    color: white;
    height: $header-height;
    box-shadow: $shadow;

    .logo {
        line-height: $header-height;
        font-size: 36px;
        font-weight: bold;
        font-style: italic;
        margin-left: 20px;
    }
}

.container {
    padding: 20px 40px;
}

.main-heading {
    color: $friendly-blue-50;
    font-weight: bold;
    font-size: 36px;
}

.button-primary, .button-secondary, #button-secondary-white {
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    display: inline-block;
    border-radius: 50px;
    margin: 10px;
}

.button-primary {
    background-color: $lively-green-50;
    border: none;
    color: white;
}

.button-secondary {
    background: transparent;
    border: 1px solid $lively-green-50;
    color: $lively-green-50;
}

#button-secondary-white {
    float: right;
    margin: 5px 20px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

#button-secondary-white:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    color: white;
}

.button-primary:hover {
    background-color: $lively-green-40;
    color: white;
}

.button-secondary:hover {
    background-color: $lively-green-50;
    color: white;
}

.input-field {
    border: 1px solid $focused-gray-50;
    margin-bottom: 5px;
}

.input-field::placeholder {
    color: $focused-gray-50;
    opacity: 1;
}

.align-center {
    text-align: center
}

.img-paddy {
    filter: drop-shadow($shadow);
    padding: 20px;
    max-height: 450px;
    object-fit: contain;
}

.overlay-container {
    max-width: 500px;
}

.button-red {
    background: white;
    color: $danger-red-50;
    border-color: $danger-red-50;
}